
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Path: src\index.css */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1{
  @apply text-2xl font-bold text-gray-800;
}

.div{
  @apply flex flex-col items-center justify-center;
}

.portada:hover img{
@apply scale-125 
}

.portada img{
  @apply transition-all ease-in-out  duration-500
}
.portada{
  @apply relative  h-32 w-32 border-white overflow-hidden rounded-xl
}
.overlay{
  @apply div absolute z-10 flex w-full h-full bg-black bg-opacity-0  text-white  cursor-pointer 
}
/* .overlay:hover svg{
  @apply opacity-100 translate-y-0
} */
.overlay svg{
  @apply w-10 h-10  transition-all ease-in-out opacity-0 duration-500 -translate-y-14
}

.cancion{
  @apply bg-zinc-900 p-4 rounded-lg shadow-lg cursor-pointer hover:bg-stone-900 transition-all ease-in-out
}

.cancion:hover .overlay svg{
@apply opacity-100 translate-y-0
}
.cancion:hover .portada img{
  @apply scale-125 
  }
.cancion:hover .overlay{
  @apply bg-opacity-50
  }






  .modal {
    top: 0;
    left: 0;
    position: fixed;
    z-index: 999;
    cursor: default;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(13, 13, 22, 0.679);
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  is-open {
    display: flex !important;
  }

  
  .modal-contenedor::-webkit-scrollbar {
    display: none;
  }


  .modal-contenedor {
    display: flex;
    flex-direction: column;
    min-width: 350px;
    min-height: 120px;
    max-height: 28em;
   
  
    position: relative !important;
    
    align-items: center;
    justify-content: stretch;
    overflow: scroll;

    border-radius: 20px;
  }

  .btncerrar{
    color: red;
    padding: 4px;
    top: 0.5rem;
    right: 0.5rem;
    position: absolute;
  }


  .article{
    @apply z-20   flex-col top-0 left-0 absolute min-w-full items-center justify-center bg-[#0C0C0E] h-full p-3
  }
  .article::before{
    filter: 'blur(20px)'
    
  }
